name: Lint

on:
  push:
    branches: [main, release-*]
  pull_request:
    branches: [main, release-*]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: go.mod
          cache: false

      - name: Golangci lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.0
          args: --verbose

      - name: Markdown lint
        uses: docker://avtodev/markdown-lint:v1@sha256:6aeedc2f49138ce7a1cd0adffc1b1c0321b841dc2102408967d9301c031949ee
        with:
          config: '.markdownlint.yml'
          args: '**/*.md'

      - name: Typo lint
        uses: crate-ci/typos@392b78fe18a52790c53f42456e46124f77346842 # v1.34.0
        with:
          config: .typos.toml

      - name: Example lint
        run: make validate-examples

      - name: Run tests
        run: make test
